# ===== MICROSSERVIÇOS =====
MICROSERVICO_CONVERSAO_URL=http://localhost:5506/converter

# ===== SERVICES PORTS =====
CAPS_REGISTRATION_PORT=5504
RELATORIO_ANIMAIS_PORT=5502
ADMIN_USERS_PORT=5500
COLLECTION_POINT_PORT=5505

# ===== DATABASE =====
DATABASE_URL=postgresql://user:password@localhost:5432/tampets_db

# ===== ENVIRONMENT =====
NODE_ENV=development
