<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Pontos Aprovados</title>
</head>

<body>
    <h1>Pontos aprovados</h1>
    <a href="/pontos">Novo cadastro</a>

    <% if (typeof error !=='undefined' && error) { %>
        <p>
            <%= error %>
        </p>
        <% } %>

            <% if (!pontos || pontos.length===0) { %>
                <p>Nenhum ponto aprovado encontrado.</p>
                <% } else { %>
                    <ul>
                        <% pontos.forEach(function(ponto) { %>
                            <li>
                                <a href="/pontos/<%= ponto.idPc %>">
                                    <%= ponto.namePoint %> - <%= ponto.address ? ponto.address.city : '' %>
                                </a>
                            </li>
                            <% }) %>
                    </ul>
                    <% } %>
</body>

</html>