<!DOCTYPE html>
<html>

<head>
    <title>Detalhe do Relatório</title>
</head>

<body>
    <h1>Detalhe do Relatório</h1>

    <p><strong>ID:</strong>
        <%= relatorio.id %>
    </p>
    <p><strong>Data:</strong>
        <%= relatorio.data %>
    </p>
    <p><strong>Tipo de Animal:</strong>
        <%= relatorio.tipoAnimal %>
    </p>
    <p><strong>Quantidade:</strong>
        <%= relatorio.quantidade %>
    </p>

    <a href="/relatorios">Voltar</a>
</body>

</html>