<!DOCTYPE html>
<html>

<head>
    <title>Detalhe</title>
</head>

<body>
    <h1>Detalhe da Solicitação</h1>

    <p><strong>ID:</strong>
        <%= solicitacao.id %>
    </p>
    <p><strong>Nome:</strong>
        <%= solicitacao.nome %>
    </p>
    <p><strong>Status:</strong>
        <%= solicitacao.status %>
    </p>

    <a href="/solicitacoes">Voltar</a>
</body>

</html>